#container{ width: 90%; height: auto; margin: 0 auto; }
#loginModal{ top: 15%; }
.modal-footer {   border-top: 0px; }
.center {
	float: none;
	margin-left: auto;
	margin-right: auto;
}
.panel-title-custom{
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}
.datalist-btgridview{
	font-size: 12px;
}
.glyphicon-custom{
	top: 0px;
}

.left-file-block{
	height: 350px;
}
.right-file-block{
	height: 300px;
}
.cursor{
	cursor: pointer;
}
h1,h2,h3,h4{
	margin: 5px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}
.table{
	margin-bottom: 5px;
}